@{
  Layout = "_Layout";
}

<h2>Add a stylist</h2>

@model HairSalon.Models.Stylist

@using(@Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)
  <input type="submit" value="Add stylist" class="btn btn-primary"/>
}

@Html.ActionLink("Back to stylist list", "Index")
